@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.link-animate::after {
  content: '';
  display: block;
  width: 0;
  height: 0.2vh;
  background: black;
  -webkit-transition: width .4s;
  transition: width .4s;
}

.link-animate:hover::after {
  width: 100%;
  -webkit-transition: width .4s;
  transition: width .4s;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav .links {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav .links .link {
  text-decoration: none;
  color: black;
  font-size: 4.2vw;
  display: inline-block;
}

.nav .links .link:nth-child(2) {
  padding-top: 15px;
  padding-bottom: 15px;
}

.me {
  background-image: -webkit-gradient(linear, right bottom, left top, from(#00899E), to(#3DFFDE));
  background-image: linear-gradient(to top left, #00899E, #3DFFDE);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.me #profile-image {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: solid #008a94 0.2vh;
}

.me .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.me .about #my-name, .me .about #description {
  color: white;
  font-weight: normal;
}

.me .about #my-name {
  font-size: 4.7vw;
}

.me .about #description {
  font-size: 1.79vw;
  text-align: center;
  width: 65%;
}

section#main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20.8vw 1fr 20.8vw;
      grid-template-columns: 20.8vw 1fr 20.8vw;
}

section#main .portofolio #sideways {
  position: -webkit-sticky;
  position: sticky;
  top: 20vh;
  font-size: 10.5vh;
  font-weight: normal;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
}

section#main .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  padding-top: 12vh;
  padding-bottom: 12vh;
  margin: auto;
}

section#main .content .box {
  height: 10.5vw;
  width: 24vw;
  border-radius: 20px;
  background-color: #00000013;
}

section#main .content .box:nth-child(odd):last-child {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-column-align: center;
      justify-self: center;
}

section#main .content h3:only-child {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

section#main .nav-two {
  margin-right: 40px;
  margin-top: 65vh;
}

section#main .nav-two .links-two {
  position: -webkit-sticky;
  position: sticky;
  top: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  list-style-type: none;
}

section#main .nav-two .links-two .link {
  text-decoration: none;
  text-align: end;
  font-size: 4.2vw;
  color: black;
}

section#main .nav-two .links-two #addbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 83vh;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 1vw;
  padding: .3vw;
  background: none;
  font-size: 1vw;
  cursor: pointer;
  -webkit-transition: ease .3s;
  transition: ease .3s;
}

section#main .nav-two .links-two #addbox:hover {
  -webkit-transition: ease .3s;
  transition: ease .3s;
  background-color: black;
  color: white;
}

section#main .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#main .contact #contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#main .contact #contact-form .input-field {
  width: 15vw;
  height: 2vw;
  border: 1px solid black;
  border-radius: 1vw;
  text-align: center;
}

section#main .contact #contact-form #message-field {
  width: 15vw;
  height: 10vw;
  border: 1px solid black;
  border-radius: 1vw;
}
/*# sourceMappingURL=styles.css.map */